{% extends "layout.html" %}

{% block content %}
<section class="jumbotron">
    <div class="container">
        <h1>Aakash DevOps Project</h1>
        <p>This Flask app is built, containerized with Docker with prof thank you, and deployed automatically to Azure using GitHub Actions.</p>
    </div>
</section>

<section>
    <h3>Why this project?</h3>
    <p>
        It demonstrates a full CI/CD workflow: linting, building a Docker image, pushing to Docker Hub,
        and deploying to an Azure Web App in one automated pipeline.
    </p>
</section>
{% endblock %}
